/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ======== Global ======== */
	
	html {
		height: 100%;
	}

	body {
		font-family: 'PT Sans', Helvetica, Futura, sans-serif;
		background: #F1F1F2;
		height: 100%;
	}
	
	a:link {
	text-decoration: none;
	}

	.form-control {
		color: #414142;
	}

/* ======== Header ======== */

	/* Section Header */

	.sectionHeader {
		padding: 1.5em 0;
		color: #414142;
		text-align: center;
	}

/* ======== Navigation ======== */
	
	.navbar {
		margin-bottom: 0;
	}

	.navbar-brand {
		background: url('../img/logo.png') no-repeat center;
		text-indent: -9999px;
		width: 313px;
	}

	.nav {
		margin-top: 1em;
	}

	.nav li {
		font-size: 2rem;
		text-align: right;
	}

	.navbar-toggle {
		border: none;
		background: #27aae1;
		color: #F1F1F2;
	}
	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		border: none;
		background: #27aae1;
		color: #F1F1F2;
	}


	/* Social Nav */

	#socialnav {
		text-align: center;
	}

	#socialnav ul li {
		display: inline-block;
		font-size: 2em;
		padding: .25em;
	}

	#socialnav ul li a {
		color: #F1F1F2;
		padding: .25em .5em;
		border: 2px solid #F1F1F2;
		border-radius: .25em;
	}

	#socialnav ul li a:hover {
		color: #fff;
		border: 2px solid #fff;
	}

	/* Footer Nav */

	#footernav ul li {
		display: inline-block;
		padding: .5em .5em 0 0;
	}

	#footernav ul li a {
		color: #F1F1F2;
	}

	/* Destination Pages Nav */

	#desinationsLinks ul li {
		display: inline-block;
		margin-top: 1.5em;
		font-size: 1.5em;
	}

	#desinationsLinks ul li a {
		margin: 1em;
		color: #414142;
	}

	#desinationsLinks ul li a:hover {
		color: #6D6E71;
	}

	.active {
		font-weight: 700;
	}

/* ======== Jumbotron ======== */

	.jumbotron {
		height: 100%;
		background: url('../img/bg.jpg') top center no-repeat;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	#hero {
		color: #404041;
		text-align: center;
		background: rgba(189, 222, 143, 0.9); //HEX: #bdde8f
		opacity: 0.8;
		padding: 2em 0;
		border-radius: .25em;
	}

	#hero h1 {
		color: #404041;
	}

	#hero h2, #hero p {
		margin: 1em;
	}

	.jumbo-btn {
		border: 1px solid #F7931D;
		background: #F7931D;
		color: #404041;
		font-weight: bold;
	}

	.jumbo-btn:hover {
		background: #F7931D;
		color: #F1F1F2;
	}

	.jumbo-default-btn {
		border: 1px solid #e4e4e6;
		background: #e4e4e6;
		color: #404041;
		font-weight: bold;
	}

	.jumbo-default-btn:hover {
		background: #fefefe;
		border: 1px solid #F1F1F2;
		color: #404041;
	}

/* ======== Booking ======== */

	#bookingSection {
		margin: 2em 0;
	}

	/* Form */

	.form-control {
		background: #fff;
		color: #6D6E71
	}

	#bookForm span label {
		display: block;
		font-size: 1.5em;
		font-weight: 400;
		margin: .5em 0;
	}

	#bookForm select, #bookForm input, button {
		margin-right: 1em;
	}

	#bookButtons {
		margin-top: 2em;
	}

	/* Datepicker Customer CSS */
	
	.ui-datepicker {
		font-family: 'PT Sans', Helvetica, Futura, sans-serif;
	}
	
	.ui-widget-header {
		background: #F1F1F2;
	}
	
	.ui-datepicker .ui-datepicker-title,
	.ui-datepicker .ui-datepicker-header,
	.ui-datepicker .ui-datepicker-prev,
	.ui-datepicker .ui-datepicker-next {
		background: #27A9E1;
	}
	
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background: #F1F1F2;
	}
	
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
		border: 1px solid #F7931D;
	}

	/* Confirmation */

	#confirm {
		background: #fff;
		margin: 2em 0;
		position: relative;
	}

	#confirmIMG {
		padding: 0;
		background: url('../img/resortconfirm.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		height: 100%;
		position: absolute;
	}

	#confirmMSG {
		float: right;
		padding-bottom: 2em;
	}

	#confirmMSG h2, #confirmMSG h3 {
		font-weight: 700;
		margin: .5em 0;
		line-height: 1.25em;
	}

	#confirmMSG h4 {
		font-weight: 700;
		margin: 1em 0;
	}

	#confirmationButtons {
		margin: 2em 0;
	}

	.successMSG {
		color: #8DC63F;
		font-size: 2rem;
	}

	/* Ad */

	#ad img {
		border: 1px solid #404041;
	}


/* ======== Destinations ======== */

	#gallery {
		display: block;
		padding: 2em 0;
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: row wrap; 
		flex-flow: row wrap; 
		display: -webkit-box;
		display: flex;
		justify-content: center;
	}

	.galleryLink {
		max-width: 300px;
		position: relative;
		-webkit-box-flex: auto;
  		-ms-flex: auto;
  		flex: auto;
  		padding: 0 .125em;
	}

	.galleryLink img {
		max-width: 100%;
		border: 1px solid #F1F1F2;
	}

	.galleryLink img:hover {
		border: 1px solid #27A9E1;
	}

	.galleryLink span {
		position: absolute;
		background: #F1F1F2;
		width: 100%;
		height: 20%;
		padding: .25em 0 0 .5em;
		bottom: 0;
		text-align: left;
		font-size: 3rem;
		color: #404041;
		opacity: 0.9;
	}

	.galleryLink span:hover {
		background: #27A9E1;
		color: #F1F1F2;
	}

/* ======== Footer ======== */

	footer {
		background: #F7931D;
		padding: 4em 0;
		color: #F1F1F2;
	}

/* ======== Destination Pages ======== */

	#info {
		background: #fff;
		padding: 4em 0;
	}

	#info h1 {
		text-align: center;
		font-size: 400%;
		margin-bottom: 1em;
	}

	#info img {
		display: block;
		margin: 0 auto;
	}

	#infoContent {
		margin-top: 2em;
	}

	#infoContent h3, #infoContent ul {
		margin: 1em 0 .5em;
	}

	#desinationsLinks {
		text-align: center;
		margin: 1.5em 0 .25em;
	}

	#desinationsLinks h2 {
		margin-bottom: .5em;
	}

/* ======== Media Queries ======== */

@media only screen and ( max-width: 767px ) {

	/* Header */

	.navbar-brand {
		width: 60px;
		background-position: left;
		margin-left: 2em;
	}

	.nav li {
		font-weight: bold;
	}

	.sectionHeader {
		margin: 0 1em;
	}

	/* Navigation */

	#footernav, #socialnav, #funfacts, #attractions, #package {
		margin-top: 1em;
	}

	#footernav ul li {
		padding: .5em 1em;
	}

	#desinationsLinks ul li {
		display: block;
		padding: .5em;
		margin: .25em;
	}

	/* Jumbotron */

	#hero {
		padding: 1.125em .75em;
	}

	#hero h1 {
		font-size: 2em;
	}

	#hero h2 {
		font-size: 1.25em;
	}

	#hero p {
		font-size: 1.25rem;
	}

	/* Destinations */

	/* Booking */

	#bookButtons {
		text-align: center;
	}

	#confirmMSG {
		text-align: center;
		float: none;
	}

	.successMSG {
		font-size: 1.6rem;
	}

	#confirmIMG {
		position: relative;
		height: 400px;
		background-position: right center;
	}

	/* Footer */

	#credits,
	#footernav {
		margin-bottom: 2em;
		text-align: center;
	}

	#credits h2,
	#footernav {
		font-weight: 700;
		font-size: 1.125em;
	}

	#infoContent, #credits p {
		padding: 0 1.5em;
	}

	#credits h2, #credits p, #footernav h2{
		margin: .5em 0;
	}
}

@media only screen and ( min-width: 768px) and ( max-width: 990px) {

	#bookForm {
		text-align: center;
	}

	.navbar-brand {
		background-size: 75%;
	}

	.nav li {
		font-size: 1.5rem;
	}

	#confirmMSG h2 {
		font-size: 2.25rem;
	}

	#confirmMSG h3 {
		font-size: 2rem
	}

	#confirmMSG h4 {
		font-size: 1.75rem
	}

	#confirmMSG p {
		font-size: 1.75rem
	}
}